<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tutor Management Service</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/tutors">Tutors</a>
      <a class="nav-item nav-link" href="/courses">Courses</a>
      <a class="nav-item nav-link" href="/account">Account</a>
      <a class="nav-item nav-link" href="/login">Login/Sign up</a>
    </div>
  </div>
</nav>
