<h1>Courses</h1>
<table id="course-table">
	<tr>
		<th>Name</th>
		<th>Subject</th>
		<th>Difficulty</th>
	</tr>

	{{#each courses}}
	<tr>
		<td>{{this.Name}}</td>
		<td>{{this.Subject}}</td>
		<td>{{this.Difficulty}}</td>
	</tr>	
	{{/each}}
</table>
